*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #f3f4f6;
}

.content-wrapper {
  position: absolute;
  top: -40px;
  left: -16px;
  padding: 1rem;
  border-radius: 8px;
  z-index: 100;
  min-width: max-content;
}

.open {
  width: auto;
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: rgb(255 255 255 / 1);
  padding: 0;
  /*  
  tenia muchas variables el box-shadow indescifrable
  */
  outline: 2px solid transparent;
  outline-offset: 2px;
  scroll-margin-top: calc(104.762px + 24px);
}

.box-container {
  width: 280px;
  padding: 0.75rem;
}

.align-container {
  display: flex;
  position: relative;
}

.align-container nav {
  display: flex;
  align-items: flex-start;
}

.align-container nav button {
  padding: 0;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
}

.align-container nav #prev-month-btn {
  position: absolute;
  left: 10px;
}

.align-container nav #next-month-btn {
  position: absolute;
  right: 10px;
}

.align-container nav button svg {
  margin: auto;
  width: 1.25rem;
  height: 1.25rem;
  font-weight: 700;
  color: rgb(0 108 224 / 1);
}

.align-container .container-content {
  width: 100%;
}

.align-container .container-content .box-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  position: relative;
}

.box-header .container-select {
  display: inline-flex;
  gap: 0.25rem;
}

.container-select .span-container-select {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.container-select .span-container-select select {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(0, 108, 224);
}

.span-container-select .span-icon {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  display: none;
}

.span-container-select .span-icon svg {
  color: rgb(0 108 224 / 1);
  font-weight: 700;
  width: 1.25rem;
  height: 1.25rem;
}

.container-select #span-status {
  display: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

table thead tr {
  display: flex;
  flex-direction: row;
}

table thead tr th {
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.25rem;
  width: 2rem;
  text-transform: none;
}

table tbody tr {
  width: max-content;
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
}

table tbody tr td {
  padding: 0;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  width: 2rem;
  height: 2rem;
}

table tbody tr td button {
  border: none;
  background: none;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-weight: 440;
  font-size: 16px;
  cursor: pointer;
}

table tbody tr td button:hover {
  background-color: rgba(136, 199, 252, 0.3);
}

.disabled {
  color: gray;
  cursor: not-allowed;
}
