*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #f3f4f6;
}

.aligntable {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.section-table {
  background-color: white;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  position: relative;
}

.section-table .section-titles {
  text-align: center;
}

.section-table .section-titles h2 {
  margin-top: 56px;
  margin-bottom: 40px;
  color: rgb(10, 20, 110);
  font-weight: 575;
}

.section-table .section-titles #miniinfo {
  font-size: 17px;
  max-width: 606px;
  margin: 0px auto 32px;
}

.section-table #datechoosed {
  text-align: right;
  margin-bottom: 60px;
}

.section-table .container-box-historicalrate {

  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 2px;
}

@media (max-width: 640px) {
  .section-table .container-box-historicalrate {
    width: 100%;
  }
}

.section-table .blockcontainer-historicalrate {
  max-height: 458px;
  overflow: auto;
}

.blockcontainer-historicalrate table {
  
  min-width: 100%;
  white-space: nowrap;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  text-align: center;
}

table thead tr th:first-child {
  text-align: left;
  background: linear-gradient(
    to right,
    white 0%,
    99%,
    rgba(255, 255, 255, 0) 100%
  );
  left: 0;
  z-index: 2;
}

table thead th {
  padding: 8px 12px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
}

table thead th button {
  background: none;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 8px 12px;
  
  cursor: pointer;
}

table tbody tr {
  border-bottom: 1px solid rgb(243, 244, 246);
}

table tbody th {
  padding: 24px 16px;
  text-align: left;
  background: linear-gradient(
    to right,
    white 0%,
    99%,
    rgba(255, 255, 255, 0) 100%
  );
  position: sticky;
  left: 10px;
  z-index: 1;
}

table tbody .td-name-currency {
  font-size: 14px;
}

table tbody .td-unit {
  font-size: 14px;
}

table tbody th .anchor {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0 108 224 / 1);
}
