.dropdown-container {
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 10;
}

.dropdown-container .containerclose {
  position: relative;
}

.dropdown-container .containerclose svg {
  position: absolute;
  top: 10px;
  right: 14px;
}

/* Main dropdown */
.dropdown {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 258px;
  z-index: 100;
  padding: 0.2rem;
}

.dropdown .country {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 5px 9px;
}

.dropdown .country p,
.dropdown .country img {
  cursor: pointer;
}

/* Main input */
.dropdown-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 0.3rem;
  font-size: 16px;
  box-sizing: border-box;
}

/* Mobile: full screen */
.fullscreen-dropdown {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: white;
  padding: 1rem;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .dropdown {
    height: 100%;
    max-height: 1400px;
  }
}
